@charset "UTF-*";
/*CSS Document*/
*{box-sizing: border-box;}

    .quintessential-large {
      font-family: "Quintessential", serif;
      font-weight: 400;
      font-style: normal;
      font-size: 60px;
    }

      .quintessential-regular {
        font-family: "Quintessential", serif;
        font-weight: 400;
        font-style: normal;}

body{
    background-image:url(images/bigpage.png);
    display: block;
    margin: auto;
    background-repeat: no-repeat;
    background-color: maroon;
    background-position: center;
    background-size: 1000px;
    padding-top: -250px;
    background-position: 50% 220px;
    }



h1 {
    color: white;
    text-align: center;
    }
h2 {
    color: white;
    text-align: center;
    }
h3 {
    color: white;
    text-align: center;
    }
 

