@charset "UTF-*";
/*CSS Document*/
*{

body {
    .quintessential-regular {
      font-family: "Quintessential", serif;
      font-weight: 400;
      font-style: normal;
    }
    

    #tst {
        background:url("images/corner_decal.webp") left top no-repeat, 
        url("images/corner_decal.webp") right top no-repeat,
        url("images/corner_decal.webp") left bottom no-repeat,
        url("images/corner_decal.webp") right bottom no-repeat,
    }



      background-color: maroon;
    }
    
    h1 {
      color: white;
    }
    p {
      color: white;
    }


}