@charset "UTF-*";
/*CSS Document*/
*{box-sizing: border-box;}

    .quintessential-regular {
      font-family: "Quintessential", serif;
      font-weight: 400;
      font-style: normal;}
    

body{
    background-image:url(images/bigpage.jpg);
    text-align: center;
    background-color: maroon;
    }



h1 {
    color: white;
    }
h2 {
    color: white;
    }
h3 {
    color: white;
      }
 

